/BackOffice/NativeFEapp/android/
/BackOffice/NativeFEapp/ios/
/BackOffice/NativeFEapp/src/config/settings.js
/BackOffice/NativeFEapp/index.js
/BackOffice/NativeFEapp/node_modules/
/Userportal/NativeApp/android/
/Userportal/NativeApp/ios/
/Userportal/NativeApp/src/config/settings.js
/Userportal/NativeApp/index.js

