.outerwrapperChnagepass{
	position: absolute;
	width: 100%;
	background: rgba(0, 0, 0, 0.3);
	top: 0;
  bottom: 0;

}
.innerwrapperChnagepass{
	background: #fff;
 margin-top: 6% !important;
  padding: 15px;
}