.requestStatusImgs{height: 45px; padding-left: 20px}
.requestStatusPdfs{height: 45px;}
.allLedgersMargin{margin-top: 20px;margin-bottom: 20px;}
.verificationDataOuter{height: 200px;padding-top: 1%;}
.addressImage {height: 60px;width: 60px;}
.ledgerReport {height: 40px;}
.latestUpadatesBlock1{border: 1px solid #eee;box-shadow: 0px 0px 5px #aaa;padding: 2%;}
.employeedetailsInfo td{vertical-align: middle!important}
.Bg-transparent{background: transparent}
.orderStatusBlock{text-align: center;height: 35px;padding: 8px;}